@import "../../styles.scss";
@import "~bootstrap/scss/badge";

.counter {
  float: right;
}

.counter-type {
  margin-top: 15px;
  height: 30px;
}

.container {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 100px;

}
